@font-face {
    font-family: SportingGrotesque;
    src: url('fonts/SportingGrotesque.otf');
}

body {
    background: #F1D2C8;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    border-top: solid 2px #000;
}

a {
    font-family: 'SportingGrotesque';
    color: #000000;
}