@font-face {
    font-family: Krays;
    src: url('https://u.osu.edu/radicantbodies/files/2021/04/KRAYS.otf');
  }
  @font-face {
    font-family: BSV;
    src: url('https://u.osu.edu/radicantbodies/files/2021/04/BANDEINSSTRANGEVARIABLEGX.ttf');
  }
  html {
  background-image: linear-gradient(
  180deg
  , #b9e0f7 8%, #afb6e8 19%, #c58bb7 56%, #c58bb7 76%, #ea4431 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  }
  body {
  background: none;
  }
  #page, .site, #osu-branding, #body-footer{
  background: none;
  color: #fff;
  }
  .site-header, .entry-header, #osu-branding, .site-footer, .u-osu-powered{
  display: none !important;
  }
  .site {
  padding: 50px;
  }
  p {
  margin: 0;
  }
  h2{
  margin-top: 8px !important;
  font-family: BSV;
  color: #fff;
  }
  .highlight {
  color: #fff;
  font-weight: 700;
  font-family: Krays;
  letter-spacing: 5px;
   text-shadow: 2px 2px 3px #ce363e, 0px 0px 8px #ce363e;
  }
  .classCont{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 50px 0px;
  }
  .classBut{
      height: 47px;
      font-size: 20px;
      display: block;
      background: #fff;
      border-radius: 12px;
      font-weight: 100;
      font-size: 18px;
      line-height: 47px;
      letter-spacing: -0.01em;
      text-transform: uppercase;
      text-decoration: none;
      padding: 0 10px;
      margin-right: 6.7px;
      margin-bottom: 6.7px;
      flex: 1;
      text-align: center;
      white-space: nowrap;
      cursor: pointer;
      transition: all .4s linear;
      border: 1px red dashed;
  }
  .classBut a{
    font-family: BSV;
    color: #ea4431;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .classBut:hover {
  background: linear-gradient(
  180deg,
  #b9e0f7 0%, #FFFFFF 100%);
      box-shadow: 5px 5px 4px #ea4431;
  }

  p.txtBox {
    font-size: 22px;
    line-height: 30px;
    text-shadow: 0px 0px 20px #000;
  }
  @media only screen and (max-width: 700px) {
  .classCont{
  padding: 20px 0px;
  }
  .classBut{
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  font-weight: 700;
  }
  h2{
  font-size: 1em !important;
  }
  #body-footer{
      padding: 0px 0px 50px 0px !important;
  }
  }