@font-face {
  font-family: BSV;
  src: url('https://u.osu.edu/radicantbodies/files/2021/04/BANDEINSSTRANGEVARIABLEGX.ttf');
}

html {
  background-image: linear-gradient(180deg, #b9e0f7 8%, #afb6e8 19%, #c58bb7 56%, #c58bb7 76%, #ea4431 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}

body {
  background: none;
}
a{
  text-decoration: none;;
}
.classSum a{
  transition: all 2s ease;
}
.classSum a:hover {
  text-shadow: 5px 5px 6px #ea4431;
  filter: invert(1);
}

#page,
.site,
#osu-branding,
#body-footer {
  background: none;
  color: #fff;
}

.site-header,
.entry-header,
#osu-branding,
.site-footer,
.u-osu-powered {
  display: none !important;
}

.site {
  padding: 50px;
}

.logo {
  max-width: 50%;
}

p {
  margin: 0;
}

h2 {
  margin-top: 8px !important;
  font-family: BSV;
  font-size: 1.3em !important;
  color: #fff;
}

h3 {
  font-size: 1.7em;
  text-transform: uppercase;
  font-family: BSV;
  text-shadow: 5px 5px 6px #ea4431;
}

h5 {
  font-size: 1.2em;
  font-family: BSV;
  margin-top: 1em;
}

.classCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px 0px;
}

.classBut, a>.noHo {
  font-size: 12px;
  max-height: 28px;
  line-height: 28px;
  font-weight: 600;
  display: flex;
  background: #fff;
  border-radius: 12px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  margin-right: 6.7px;
  margin-bottom: 6.7px;
  flex: 1;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  transition: all .4s linear;
  border: 1px red dotted;
  justify-content: center;
  align-items: center;
}

.flexTxt .classBut {
  margin-top: 1em;
  max-height: 50px;
  font-size: 18px;
}

.classBut a, .noHo {
  font-family: BSV;
  color: #ea4431;
  width: 100%;
}
.notableHome{
  display: flex;
  flex-wrap:wrap;
  justify-content:space-evenly;
  padding: 10px 0;
  margin-bottom: 2em;
}
.noHo {
  min-width: 150px;
}

.classBut:hover{
  background: linear-gradient(180deg,
      #b9e0f7 0%, #FFFFFF 100%);
  box-shadow: 5px 5px 4px #ea4431;
  border: 1px red solid;
}

iframe, img.aligncenter, img.alignnone, .wp-video, .gallery-item img{
  box-shadow: 10px 12px 30px #000;
  transition: all .4s linear;
}

.flexMedia img {
  max-width: 550px;
  box-shadow: 10px 12px 30px #000;
  padding: 0;
  margin: 0;
  transition: all .4s linear;
}

.flexMedia img:hover, img.aligncenter:hover, .gallery-item img:hover {
  filter: invert(1) blur(2px);
}

.flexCont {
  display: flex;
  /* max-height: 300px; */
  flex-direction: row;
  width: 100%;
  /* background: red; */
}

.flexMedia {
  max-height: 100%;
  width: 100%;
  padding-bottom: 4em;
}

.flexMedia:nth-child(odd) {
  padding-right: 5em;
  align-items: center;
}

.flexMedia h4 {
  font-family: BSV;
  font-size: 26px;
  letter-spacing: 1.25px;
  text-shadow: 5px 5px 6px #ea4431;
  margin: 0;
  padding-bottom: 1em;

}

.flexMedia p {
  font-size: 20px;
  text-shadow: 0px 0px 20px #000;
}

.classSum {
  padding-bottom: 2em;
  font-size: 20px;
}

.flexMedia .emoji {
  /* text-align:center; */
  padding-top: 2em;
  text-shadow: none;
}

.classBack {
  display: none;
}

.classSum {
  font-size: 18px;
}

/* Diana Abells */
article#post-82 p>iframe {
  text-align: center;
}

article#post-104 p>iframe {
  margin: 30px 0px;
}

@media only screen and (max-width: 1000px) {
  .flexCont {
    flex-direction: column;
  }

  .flexMedia:nth-child(odd) {
    padding-right: 0px;
  }

  .logo {
    max-width: 100%;
  }

  .flexMedia img {
    width: 100%;
  }

}

@media only screen and (max-width: 800px) {
  .classCont {
    display: none;
  }

  .classBack,
  .classBack a {
    display: block;
    font-family: BSV;
    font-size: 1.25em;
    color: #ea4431;
  }

  .site {
    margin: 27px auto;
  }

  .classSum {
    line-height: 1.25em;
    font-size: 1em;
  }

  .flexMedia h4 {
    font-size: 20px;
  }

  .flexMedia p {
    font-size: 16px;
    line-height: 18px;
  }
}